#cursusimage {
    max-height: 20%;
    max-width: 20%;

}
#cursus li {
    list-style-type: none;
}
#cursus ul {
    background-color: #ffffff;
    margin-top: 5px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    box-shadow: 5px 5px 10px 5px rgba(3, 3, 3, 0.2);
    border-radius: 5px;
}

#exp li {
    list-style-type: none;
}
#exp ul {
    background-color: #ffffff;
    margin-top: 5px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    box-shadow: 5px 5px 10px 5px rgba(3, 3, 3, 0.2);
    border-radius: 5px;
}