body {
    padding-top: 120px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background: linear-gradient(0deg, rgba(172,172,172,1) 0%, rgba(36,36,36,1) 100%); */
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
h1{
    color: #174031;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0.9%;
}
nav {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(10, 10, 10, 0.2);
    padding-bottom: 15px;
    z-index: 10000;
}
nav a {
    color: #000000;
    display: inline-block;
    margin-top: 25px;
    padding-left: 50px;
    z-index: 10000;
}
nav h1 {
    float: Left;
    padding-right: 50px;
    padding-left: 50px;
}
footer {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(10, 10, 10, 0.2);
    flex: 1;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}
a {
    text-decoration: none;
    color:bisque;
}
@media screen and (max-width: 800px) {
    nav a {
        display: none;
    } 
    nav {
        padding-bottom: 50px;
    } 
}



