* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
    background-color: #F2F2F2;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
a{
    text-decoration: none;
}
h1{
    color: #174031;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 1.9%;
}
nav {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(10, 10, 10, 0.2);
    padding-bottom: 15px;
    z-index: 10000;
}
nav a {
    color: #000000;
    display: inline-block;
    margin-top: 25px;
    padding-left: 50px;
    z-index: 10000;
}
nav h1 {
    float: Left;
    padding-right: 50px;
    padding-left: 50px;
}
.nav_project nav {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(10, 10, 10, 0.2);
    padding-bottom: 25px;
    z-index: 10000;
}
.nav_project nav a {
    color: #000000;
    display: inline-block;
    margin-top: 35px;
    padding-left: 50px;
    z-index: 10000;
}
.nav_project nav h1 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

footer {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(10, 10, 10, 0.2);
    flex: 1;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}
article {
    background-color: #ffffff;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 80px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px;
    box-shadow: 5px 5px 10px 5px rgba(3, 3, 3, 0.2);
    border-radius: 5px;
    overflow: auto;
}

#project_image {
    max-height: 80%;
    max-width: 80%;
    margin: 15px auto;
    display: block;
}
#project_image + a {
    text-align: center; /* Centrer le paragraphe ou le lien suivant l'image */
}

@media screen and (max-width: 800px) {
    nav a {
        display: none;
    } 
    nav {
        padding-bottom: 50px;
   }
   #cv {
       display: inline-block;
       margin-top: 1%;
       margin-right: 20%
   }

}

.timeline{
    max-width: 1080px;
    margin: 10px auto;
    padding: 0 20px;
    position: relative;
    margin-bottom: 100px;

}
.timeline img{
    width: 40%;
    height: auto;
}
.timeline .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #174031;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.timeline .row{
    display: flex;
}
.timeline .row-1{
    justify-content: flex-start;
}
.timeline .row-2{
    justify-content: flex-end;
}
.timeline .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgba(10, 10, 10, 0.2);

}
.row-1 section::before{
    right: -7px;
}
.row-2 section::before{
    left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: #174031;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}
.row-1 section .icon{
    top: 15px;
    right: -60px;
}
.row-2 section .icon{
    top: 15px;
    left: -60px;
}
.row section .details,

.row section .details .title{
    font-size: 22px;
    font-weight: 600;
}
.row section p{
    margin: 10px 0 17px 0;
}
.row section .bottom a{
    text-decoration: none;
    background: #fff;
    color: #black;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}
.row section .bottom a:hover{
    transform: scale(0.97);
}
@media(max-width: 790px){
    .timeline .center-line{
        left: 40px;
    }
    .timeline .row{
        margin: 30px 0 3px 60px;
    }
    .timeline .row section{
        width: 100%;
    }
    .row-1 section::before{
        left: -7px;
    }
    .row-1 section .icon{
        left: -60px;
    }
}
@media(max-width: 440px){
    .timeline .center-line,
    .row section::before,
    .row section .icon{
        display: none;
    }
    .timeline .row{
        margin: 10px 0;
    }
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.comp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-top: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 5px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 10px 5px rgba(17, 17, 17, 0.2);
    border-radius: 5px;
}


.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    transition:0.05s;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #F2F2F2;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    transition: 0.5s;
}

svg circle{
    width: 100%;
    height: 10%;
    fill: none;
    stroke: #ffffff;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #174031;
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #174031;
}

.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 55) / 100);
    stroke: #174031;
}

.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #174031;
}

.card:nth-child(5) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: #174031;
}

.card:nth-child(6) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke: #174031;
}

#pp {
    max-height: 20%;
    max-width: 20%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    border-radius: 10px;
}
#presentation {
    background: white;
    color: #000000;
    display: inline-block;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    padding: 50px;
    box-shadow: 5px 5px 10px 5px rgba(17, 17, 17, 0.2);

}

#cv{
    background-color: #174031;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 50px;
}

#contact {
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 5px 5px 10px 5px rgba(17, 17, 17, 0.2);
    border-radius: 5px;
}
#projets{
    background-color: #ffffff;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    box-shadow: 5px 5px 10px 5px rgba(3, 3, 3, 0.2);
    border-radius: 5px;
}
#qualites{
    background-color: #ffffff;
    margin-top: 30px;
    color: #000000;
    margin-bottom: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    box-shadow: 5px 5px 10px 5px rgba(3, 3, 3, 0.2);
    border-radius: 5px;
}
aside {
    display: flex;
    flex-direction: column;
    float: none;
    margin-right: 15px;
    width: 100%;
    height: 50px;
    border-radius: 0;
}
aside ul {
    display: flex;
    justify-content: center;
}
aside li {
    margin: 15px;
}
aside a {
    background-color: #F2F2F2;
}
article a:hover {
    color:rgb(255, 0, 140);
    transition: 300ms;
}
footer svg{
    position: relative;
    width: 50px;
    height: 50px;
}
#projets .card .box a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

#projets .card .box a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
#competences .comp a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #presentation {
        display: inline-block;
        margin-top: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 50px;
        padding: 50px;
    }
    article{
        order: -1;
        margin-top: 30px;
        margin-bottom: 70px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 15px;
    }
}


h4{
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 5px rgba(3, 3, 3, 0.2);
    border-radius: 5px;
    font-size: 25px;
    margin: 10%;
    text-align: center;
}

.card img{
    max-height: 40%;
    max-width: 40%;
}






